html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

* {
  outline: 0;
  font-family: inherit;
  box-sizing: border-box;
}

input,
textarea,
button {
  -webkit-appearance: none;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }

  &[type='search']::-webkit-search-decoration,
  &[type='search']::-webkit-search-cancel-button,
  &[type='search']::-webkit-search-results-button,
  &[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

img {
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.responsive-video {
  position: relative;
  padding: 56.25% 0 0;

  iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__main {
    margin: 0 0 auto;
  }
}

p {
  margin: 0 0 1em;

  &.reset-m {
    margin: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2em 0 0.6em;

  &.reset {
    margin: 0;

    &-mt {
      margin-top: 0;
    }

    &-mb {
      margin-bottom: 0;
    }
  }
}

h1,
.h1 {
  font-size: 25px;
}
h2,
.h2 {
  font-size: 23px;
}
h3,
.h3 {
  font-size: 21px;
}
h4,
.h4 {
  font-size: 19px;
}
h5,
.h5 {
  font-size: 17px;
}
h6,
.h6 {
  font-size: 15px;
}
