// Colors

// Effects

// Other
$transition-time: 0.3s;

// Grid
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1400px;
$screen-xl: 1920px;

$gap-xs: 8px;
$gap-sm: 12px;
$gap-md: 15px;
$gap-lg: 15px;
$gap-xl: 18px;

$container-width-xs: 90vw;
$container-width-sm: 92vw;
$container-width-md: 92vw;
$container-width-lg: (80px + $gap-lg * 2) * 12;
$container-width-xl: (100px + $gap-xl * 2) * 12;

// Fluid type functions
@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: calc(
      #{$min-value} +
        #{strip-unit($max-value - $min-value)} *
        (100vw - #{$min-vw}) /
        #{strip-unit($max-vw - $min-vw)}
    );
  }
}
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// Use:  @include fluid-type(margin-bottom, 320px, 1920px, 25px, 70px);
