extends ../layouts/default

block variables
  - const title = ' '
  - const keywords = ' '
  - const description = ' '

block header
  +header('Главная')

block content
  .container

block footer
  +footer
