mixin header(menuCurrent, auth)
  - menuCurrent = menuCurrent || ''
  - auth = auth || ''
  header.header
    .container
      .header__inner
        nav.nav
          ul.nav__list
            each link, title in data.nav
              li.nav__item(class=title === menuCurrent ? 'nav__item--current' : '')
                a.nav__link(href=link data-scroll title=title)=title
        .header__phone=data.common.phone