.container {
  width: $container-width-xs;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gap-xs;
  margin-right: -$gap-xs;

  &--jc {
    &-start {
      justify-content: center;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: end;
    }
  }

  &--ai {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }
  }
}

[class^='col-'] {
  flex: 0 0 auto;
  padding-left: $gap-xs;
  padding-right: $gap-xs;
}

.col-xs-1 {
  width: 8.3334%;
}
.col-xs-2 {
  width: 16.6667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.3334%;
}
.col-xs-5 {
  width: 41.6667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.3334%;
}
.col-xs-8 {
  width: 66.6667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.3334%;
}
.col-xs-11 {
  width: 91.6667%;
}
.col-xs-12 {
  width: 100%;
}

/*
    От $screen-sm
*/
@media all and (min-width: $screen-sm) {
  .container {
    width: $container-width-sm;
  }

  .row {
    margin-left: -$gap-sm;
    margin-right: -$gap-sm;
  }

  [class^='col-'] {
    padding-left: $gap-sm;
    padding-right: $gap-sm;
  }

  .col-sm-1 {
    width: 8.3334%;
  }
  .col-sm-2 {
    width: 16.6667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.3334%;
  }
  .col-sm-5 {
    width: 41.6667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3334%;
  }
  .col-sm-8 {
    width: 66.6667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.3334%;
  }
  .col-sm-11 {
    width: 91.6667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

/*
    От $screen-md
*/
@media all and (min-width: $screen-md) {
  .container {
    width: $container-width-md;
    max-width: 1170px;
  }

  .row {
    margin-left: -$gap-md;
    margin-right: -$gap-md;
  }

  [class^='col-'] {
    padding-left: $gap-md;
    padding-right: $gap-md;
  }

  .col-md-1 {
    width: 8.3334%;
  }
  .col-md-2 {
    width: 16.6667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.3334%;
  }
  .col-md-5 {
    width: 41.6667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3334%;
  }
  .col-md-8 {
    width: 66.6667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.3334%;
  }
  .col-md-11 {
    width: 91.6667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*
    От $screen-lg
*/
@media all and (min-width: $screen-lg) {
  .container {
    width: $container-width-lg;
    max-width: none;
    padding-left: $gap-lg;
    padding-right: $gap-lg;
  }

  .row {
    margin-left: -$gap-lg;
    margin-right: -$gap-lg;
  }

  [class^='col-'] {
    padding-left: $gap-lg;
    padding-right: $gap-lg;
  }
  .col-lg-1 {
    width: 8.3334%;
  }
  .col-lg-2 {
    width: 16.6667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.3334%;
  }
  .col-lg-5 {
    width: 41.6667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3334%;
  }
  .col-lg-8 {
    width: 66.6667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.3334%;
  }
  .col-lg-11 {
    width: 91.6667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/*
    От $screen-xl
*/
@media all and (min-width: $screen-xl) {
  .container {
    width: $container-width-xl;
    padding-left: $gap-xl;
    padding-right: $gap-xl;
  }

  .row {
    margin-left: -$gap-xl;
    margin-right: -$gap-xl;
  }

  [class^='col-'] {
    padding-left: $gap-xl;
    padding-right: $gap-xl;
  }

  .col-xl-1 {
    width: 8.3334%;
  }
  .col-xl-2 {
    width: 16.6667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3334%;
  }
  .col-xl-5 {
    width: 41.6667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3334%;
  }
  .col-xl-8 {
    width: 66.6667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3334%;
  }
  .col-xl-11 {
    width: 91.6667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
