include /src/mixins/mixins
block variables

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")
    title=title
    meta(name='keywords', content=keywords)
    meta(name='description', content=description)
    link(rel='stylesheet' href='css/style.min.css?v=' + data.version)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name="format-detection" content="telephone=no")
    link(rel="icon" type="image/png" href="img/favicon.png")
    // Fonts
    link(rel="preload" href="fonts/.woff2" type="font/woff2" as="font" crossorigin="anonymous")
    // Facebook meta tags
    meta(property="og:url" content="")
    meta(property="og:type" content="website")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    // Twitter meta tags
    meta(property="twitter:domain" content="")
    meta(property="twitter:url" content="")
    meta(name="twitter:title" content="")
    meta(name="twitter:description" content="")
    meta(name="twitter:image" content="")
  body
    .wrapper

      block header

      main.wrapper__main
        block content

      block footer

    script(src='js/app.js?v=' + data.version)
    block script